{% extends "item_snippet.tera" %}
{% block procedures %}
{%- if data.element_shape == "Custom" %}
{{ data.procedure_name }}('{{ data.variable_name }}', '{{ data.primary_label }} - {{ data.properties.type }}', '{{ data.description_label | default(value="an optional description label") }}')
{%- endif %}
{% endblock procedures %}
